@model HRMS.DBModel.department
@{
   
}

<h2>Index</h2>

@using (Html.BeginForm("Save", "Department",new AjaxOptions { HttpMethod = "POST" }))
{
    <div class="row">
        <div class="col-md-12">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Department List  </strong></h3>
                    <ul class="panel-controls"></ul>
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-3">

                            <div class="form-group">
                                <label class="col-md-3 control-label">Depart ID </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.deptid, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.deptid, "", "")

                                    </div>
                                    <span class="help-block">This is Department ID</span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">

                            <div class="form-group">
                                <label class="col-md-3 control-label">Title   </label>
                                <div class="col-md-9">
                                    <div class="input-group">

                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Name, "", "")
                                    </div>
                                    <span class="help-block">This is  Title</span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">

                            <div class="form-group">
                                <label class="col-md-3 control-label">Parent  </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        
                                        @Html.DropDownList("parentid", null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.deptid, "", "")
                                    </div>
                                    <span class="help-block">This is Parent  </span>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
                <div class="panel-footer">
                    <h4 id="qstatus" runat="server"></h4>
                    <input type="submit" value="submit" />


                </div>
                
                <div class="row">
                    <div class="col-md-12">


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2><span class="fa fa-sitemap" style="padding-right: 2%"></span><span runat="server" id="parenthead">Department List  </span></h2>
                                <ul class="panel-controls"></ul>
                            </div>
                            <div class="panel-body">
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-6" style="font-weight: bold">

                                        <div style="font-size: 16px" class="treeview-checkbox-demo" id="ddtree" runat="server">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer">
                            </div>
                        </div>

                    </div>
                </div>






            </div>


        </div>
    </div>

}




